@import "_minix.scss";
@import "common.scss";
.wrap {
    width: 100%;
    height: 100%;
    @include box-flex;
    @include direction(column);
    font-size: pxTorem(18px);
    header {
        padding: 0 pxTorem(10px);
        @include sizing;
        width: 100%;
        height: pxTorem(60px);
        background: #00C3B1;
        @include box-flex;
        @include justify(space-between);
        @include align;
        color: #fff;
        input {
            width: 250px;
            height: 35px;
            background: #00A697;
        }
        dl {
            dt {
                width: pxTorem(25px);
                height: pxTorem(25px);
            }
            dd {
                font-size: pxTorem(14px);
            }
        }
    }
    section {
        width: 100%;
        height: 100%;
        background: #eee;
        p {
            width: 100%;
            height: pxTorem(70px);
            border-bottom: pxTorem(1px) solid #ccc;
            @include box_flex;
            @include justify(space-around);
            @include align;
            span {
                padding: pxTorem(10px) pxTorem(15px);
                border: pxTorem(2px) solid #00C3B1;
                border-radius: pxTorem(25px);
                color: #00C3B1;
            }
        }
        .swiper-container {
            width: 100%;
            height: pxTorem(200px);
            .swiper-wrapper {
                width: 100%;
                height: 100%;
                .swiper-slide {
                    width: 100%;
                    height: 100%;
                    @include box_flex;
                    @include flexWrap;
                    dl {
                        width: 20%;
                        height: pxTorem(80px);
                        @include box_flex;
                        @include direction(column);
                        @include align;
                        dt {
                            width: pxTorem(50px);
                            height: pxTorem(50px);
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}